*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
	background: hsl(225deg, 9.5238095238% ,8.2352941176%);
	margin: 0;
	display: grid;
}
aside{
	background-color: hsl(232.5deg ,11.7647058824% ,13.3333333333%);
	width: 188px;
	height: 100vh;
	position: fixed;
	box-shadow: 2px 0 5px rgb(0 0 0 / 20%);
}
.bounce {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	  color: white;
	height: 100%;
	font: normal bold 6rem "Product Sans", sans-serif;
	white-space: nowrap;
    margin-top: -250px;
	margin-left: -1px;
  }
  .letter {
	animation: bounce 0.75s cubic-bezier(0.05, 0, 0.2, 1) infinite alternate;
	display: inline-block;
	transform: translate3d(0, 0, 0);
	margin-top: 0.5em;
	text-shadow: rgba(255, 255, 255, 0.4) 0 0 0.05em;
	font: normal 900 1.8rem 'Varela Round', sans-serif;
  }
  
  .letter:nth-of-type(1) {
	animation-delay: -0.083333333s;
  }
  .letter:nth-of-type(3) {
	animation-delay: 0.0833333333s;
  }
  .letter:nth-of-type(4) {
	animation-delay: 0.1666666667s;
  }
  .letter:nth-of-type(5) {
	animation-delay: 0.25s;
  }
  .letter:nth-of-type(6) {
	animation-delay: 0.3333333333s;
  }
  .letter:nth-of-type(7) {
	animation-delay: 0.4166666667s;
  }
  
  
  @keyframes bounce {
	0% {
	  transform: translate3d(0, 0, 0);
	  text-shadow: rgba(255, 255, 255, 0.4) 0 0 0.05em;
	}
	100% {
	  transform: translate3d(0, -1em, 0);
	  text-shadow: rgba(255, 255, 255, 0.4) 0 1em 0.35em;
	}
  }

.sidebar_button{
	position: relative;
	margin-top: -258px;
}
.sidebar_para{
	color: hsl(226.6666666667deg ,11.8421052632% ,70.1960784314%);
    letter-spacing: .01rem;
	font-weight: 600;
    font-size: .70rem;
    margin: 0.75rem 1.25rem;
    transition: color .3s ease;
    text-transform: uppercase;
	display: block;
    position: relative;
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}
.button-anon-pen {
    width: 78%;
    background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    text-align: center;
    margin: 0px auto;
    position: relative;
    color: #fff;
    text-decoration: none;
    display: block;
    top: 0vh;
    font-weight: normal;
    margin-left: 17px;
    border-radius: 6px;
    overflow: hidden;
}

.button-anon-pen:hover {
    -webkit-animation: play 1.6s ease-in infinite;
}

.button-anon-pen span {
    padding: 14px 0;
    font-size: 18px;
    display: block;
    margin: 3px;
    background: #000;
    border-radius: 3px;
}

@-webkit-keyframes play {
    0% {
        background-position: 0px;
    }
    20% {
        background-position: -110px;
    }
    35% {
        background-position: -180px;
    }
    50% {
        background-position: -210px;
    }
    80% {
        background-position: -350px;
    }
    100% {
        background-position: -390px;
    }
}
.sidebar_content{
	width: 100%;
	height: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	position: relative;
}
.sidebar_content ul li a{
	color: #fff;
	cursor: pointer;
  width: 100%;
}
.sidebar_content li{
	margin: 30px;
}
.sidebar_content ul li  a:hover{
  background-color: rgb(27, 25, 25);
	padding: 7%;
}
.search-container{
  align-items: center;
  margin-left: 220px;
  margin-top: 10px;
}
header input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 80%;
  border-radius: 4px;
  background-color: hsl( 223.6363636364deg 12.9411764706% 16.6666666667%);
  color: #fff;
  height: 45px;
}
.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-container button:hover {
  background: #ccc;
}
.header-button{
  float: right;
  display: flex;
  flex-direction: row;
}
.sin{
  background-color: hsl(139.4117647059deg 58.6206896552% 54.5098039216%);
  width: 88px;
  margin-top: -46px;
  height: 44px;
  margin-right: 13px;
  text-align: center;
  padding-top: 11px;
  cursor: pointer;
  border-radius: 4px;
  color: #000;
}
.sin:hover{
  color: #fff;
  background-color: hsl(139.6153846154deg 59.0909090909% 34.5098039216%);
}
.loin{
  background-color: rgb(86 86 86);
  width: 88px;
  margin-top: -46px;
  height: 44px;
  margin-right: 26px;
  text-align: center;
  padding-top: 11px;
  cursor: pointer;
  border-radius: 4px;
  color: #fff ;
}
.homepage {
  width: 86%;
  height: 100vh;
}
.homepage h1{
  color: #fff;
  font-weight: 900;
  font-size: 40px;
  margin-left: 260px;
  margin-top: 110px;
}
.homepage p{
  color: hsl(230deg 12% 80.3921568627%);
  margin-left: 260px;
}